doctype html
html
  head
    script(src="collection.bundle.js")
  body
    button.next Next
    div.result count
    
    script.
      var col = new collection.PaginatedCollection(null, {
        url: 'data'
      });
      
      col.fetch().catch(e => {
        console.log(e)
      }).then( c => {
        console.log('done', c)
      })
      
      document.querySelector('.next').addEventListener('click', function () {
        console.log(col.hasNext())
        if (!col.hasNext()) return; 
        col.getNextPage().then(function () {
          document.querySelector('.result').textContent = "Numbero: " + col.length;
        });
       
      });